<section id="contact">
  <div class="col-lg-8 col-lg-offset-2 text-center">
  <h4 class="section-heading"><a id="tos" href="/privacy-policy">Privacy Policy</a></h4>
  <hr>
  <h6><i>James Gabriels is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</i></h6>
</section>

