<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>External Hardrive Reviews</h1>
            <hr>
            <h3>Reviews for the most popular consumer 1TB hardrives on the market. Learn about reliability, build quality, and performnace.</h3>
        </div>
    </div>
</header>

