<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>External Hard Drive Reviews</h1>
            <hr>
            <h3>Reviews for the most popular consumer 1TB hard drives on the market. Learn about reliability, build quality, performnace, and more.</h3>
        </div>
    </div>
</header>

