<%= render 'other_navbar' %>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><a id="tos" href="/privacy-policy">Privacy Policy/Terms of Service</a></h2>
                <hr class="primary">
                <p>James Gabriels is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon.com.

This website does not collect any information on its users. Amazon is the only third-party partner of the site. Amazon Affiliate links are used on this website. The information collected, used, and stored by clicking these links is determined by Amazon. Please see Amazons terms about how this information is used.</p>

        </div>
    </div>
</section>
